# Server
PORT=3000
NODE_ENV=development

# Database - replace with PostgreSQL database URL
DATABASE_URL="postgresql://user:password@localhost:5432/team4_backend"

# JWT  - replace with 64-byte hex secrets
JWT_ACCESS_SECRET="replace_with_64_byte_hex_secret"
JWT_REFRESH_SECRET="replace_with_64_byte_hex_secret"

# Token TTLs - 7d = 7 days, 15m = 15 minutes
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL="7d"
